/* IMPOSTAZIONI GENERALI */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0.25em 0;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  margin: 1em 0;
}

strong{
    text-decoration-thickness: 2px;
}

/* HEADER */

header {
  width: 60hv;
  padding: 1em 1em;
  margin: 2em 2em;
  background: linear-gradient(360deg, #4f4f4f, #049fd2);
  box-shadow: 1px 1px 4px 0px;
  text-align: center;
}

img {
  min-height: 200px;
  min-width: 200px;
  padding: 0 1em;
  height: 30%;
  width: 30%;
}

#menu ul {
  padding: 0 1em;
  list-style-type: none;
  min-width: 160px;
  max-width: 240px;
  margin: 1em auto;
  border-radius: 10px;
}

header a {
  padding-bottom: ;
  color: white;
  text-decoration-line: none;
}

header p{
    color: white;
}

header i {padding: 0 0.5em;}

/* MAIN */

main {
  
  min-width: 580px;
  margin: 0 2rem;
  background-color: white;
  box-shadow: 1px 1px 4px 0px;
  
}

.more-space {
  padding-top: 10px;
  padding-bottom: 10;
}

body {
  background: url(../img/sfondo.png);
  min-width: 580px;
}

article {
  padding: 1em;
  min-width: 560px;
}

article p:first-of-type {
  padding-bottom: 1em;
  color: lightgrey;
}

article ul {
  inset-block: center;
}

section {
  padding-left: 1em;
  padding-bottom: 1em;
  min-width: 190px;
  margin-right: 70vw;
}

caption {
  background-color: rgb(255, 255, 255);
}

th {
  background-color: rgb(100, 140, 214);
  padding: 10px;
}

tr {
  text-align: center;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

table {
  margin: 1em auto;
  border-style: solid;
  background-color: deepskyblue;
  list-style:lower-alpha;
}

iframe{
    margin: 0 auto;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
  color: white;
  width: 80hv;
  padding: 1em 1em;
  margin: 2em 2em;
  background: linear-gradient(360deg, #4f4f4f, #049fd2);
  box-shadow: 1px 1px 4px 0px;
}

footer a {
    color: violet;
    
}

footer p{
    padding-bottom: 1em;
}